* {
  font-family: 'Inter', sans-serif;
  --box-shadow-color: rgba(179, 66, 28, 0.4);
  --primary-color: white;
  --primary-border-color: lightcoral;
  --primary-background-color: coral;
  --link-color: black;
}

.link {
  background-color: lightblue;
  padding: 1rem 1rem;
  font-style: normal;
  text-decoration: none;
  color: var(--link-color);
  border-radius: 0.5rem;
  margin: 0 0.5rem;
}

.row {
  margin: 1rem 0;
  padding: 0.5rem 0;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  width: 25rem;
}

form {
  display: flex;
  gap: 10px;
  width: 100%;
}

form input {
  flex: 8;
  min-width: 0;
}

form button {
  flex: 2;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-border-color);
  margin: 0 0.5rem;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 0 3px var(--box-shadow-color);
}

.menu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: var(--link-color);
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--link-color);
  color: var(--primary-color);
}